.rail {
  position: sticky;
  z-index: 8;
  top: 94px;
  float: left;
  display: flex;
  width: 315px;
  margin: 104px 0 0 20px;
  padding-left: 0;
  border-left: 1px solid #aaa;
  flex-direction: column;
  color: #666;
  font:
    40px/0.98 Arial,
    sans-serif;
  letter-spacing: -2px;
}
.rail a {
  padding: 4px 0 4px 15px;
}
.rail a:hover,
.active {
  color: #080808;
}
@media (min-width: 901px) {
  .rail {
    zoom: calc(min(100vw, 1920px) / 1280px);
  }
}
@media (max-width: 900px) {
  .rail {
    display: none;
  }
}
